In [9]:
import pandas as pd 
import numpy as np

In [33]:
TRAIN_BUS_CSV_PATH = "data/train_bus_schedule.csv"
X_PASSENGER = "data/X_passengers_up.csv"
X_TRIP = "data/X_trip_duration.csv"
ENCODER = "windows-1255"

In [34]:
train_bus = pd.read_csv(TRAIN_BUS_CSV_PATH, encoding=ENCODER)
x_passenger = pd.read_csv(X_PASSENGER, encoding=ENCODER)
x_trip_duration = pd.read_csv(X_TRIP, encoding=ENCODER)

In [37]:
train_bus["passengers_up"]

0         0
1         0
2         2
3         0
4         0
         ..
226106    3
226107    1
226108    0
226109    0
226110    0
Name: passengers_up, Length: 226111, dtype: int64

In [36]:
x_passenger

,trip_id,part,trip_id_unique_station,trip_id_unique,line_id,direction,alternative,cluster,station_index,station_id,station_name,arrival_time,door_closing_time,arrival_is_estimated,latitude,longitude,passengers_continue,mekadem_nipuach_luz,passengers_continue_menupach
0,211556,ב,211556b1,211556b,18057,1,0,מזרחי-רמת גן,1,26313,ת. רכבת האוניברסיטה/מערב,05:59:00,06:02:00,False,32.104860,34.803890,2,3.0,6.0
1,211556,ב,211556b2,211556b,18057,1,0,מזרחי-רמת גן,2,26302,ת. רכבת האוניברסיטה/שד' רוקח,06:00:35,NaN,True,32.102780,34.806970,2,3.0,6.0
2,211556,ב,211556b3,211556b,18057,1,0,מזרחי-רמת גן,3,21717,אקספו תל אביב/שד' רוקח,06:01:22,NaN,True,32.103830,34.809670,2,3.0,6.0
3,211556,ב,211556b4,211556b,18057,1,0,מזרחי-רמת גן,4,21562,לונה פארק/שד' רוקח,06:02:30,NaN,True,32.105510,34.812570,2,3.0,6.0
4,211556,ב,211556b5,211556b,18057,1,0,מזרחי-רמת גן,5,26323,בני אפרים/בכור שטרית,06:04:00,NaN,True,32.108520,34.815590,2,3.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48298,315108,ג,315108c20,315108c,14256,2,0,אונו-אלעד,20,36634,בית ספר אריאל/הרי יהודה,23:35:32,NaN,True,32.061344,34.872692,0,2.0,0.0
48299,315108,ג,315108c21,315108c,14256,2,0,אונו-אלעד,21,31056,הרמה / התבור,23:37:13,NaN,True,32.058765,34.869244,0,2.0,0.0
48300,315108,ג,315108c22,315108c,14256,2,0,אונו-אלעד,22,35328,הגליל/עמק יזרעאל,23:37:43,NaN,True,32.057230,34.871964,0,2.0,0.0
48301,315108,ג,315108c23,315108c,14256,2,0,אונו-אלעד,23,36635,בית ספר ראשונים/הגליל,23:37:42,NaN,True,32.057423,34.875153,0,2.0,0.0
48302,315108,ג,315108c24,315108c,14256,2,0,אונו-אלעד,24,36639,הגליל/גבעון,23:38:00,23:38:00,False,32.057472,34.877480,0,2.0,0.0

In [17]:
len(train_bus)

226111

In [18]:
len(x_passenger)

48303

In [19]:
len(x_trip_duration)

48398

In [20]:
train_bus.columns

Index(['trip_id', 'part', 'trip_id_unique_station', 'trip_id_unique',
       'line_id', 'direction', 'alternative', 'cluster', 'station_index',
       'station_id', 'station_name', 'arrival_time', 'door_closing_time',
       'arrival_is_estimated', 'latitude', 'longitude', 'passengers_up',
       'passengers_continue', 'mekadem_nipuach_luz',
       'passengers_continue_menupach'],
      dtype='object')

In [28]:
!pip install chardet

Collecting chardet
  Downloading chardet-5.2.0-py3-none-any.whl.metadata (3.4 kB)
Downloading chardet-5.2.0-py3-none-any.whl (199 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.4/199.4 kB 1.3 MB/s eta 0:00:0000:0100:01m
Installing collected packages: chardet
Successfully installed chardet-5.2.0

In [29]:
import chardet

with open(TRAIN_BUS_CSV_PATH, 'rb') as file:
    raw_data = file.read()

detected = chardet.detect(raw_data)
print(f"Detected encoding: {detected['encoding']}")

Detected encoding: windows-1255

In [30]:
detected_encoding = detected['encoding']
train_bus = pd.read_csv(TRAIN_BUS_CSV_PATH, encoding=detected_encoding)

In [31]:
train_bus

,trip_id,part,trip_id_unique_station,trip_id_unique,line_id,direction,alternative,cluster,station_index,station_id,station_name,arrival_time,door_closing_time,arrival_is_estimated,latitude,longitude,passengers_up,passengers_continue,mekadem_nipuach_luz,passengers_continue_menupach
0,212084,ב,212084b1,212084b,15052,2,0,מזרחי-רמת גן,1,26806,עתידים,13:29:00,13:30:00,False,32.11423,34.84135,0,0,2.200000,0.000000
1,212084,ב,212084b2,212084b,15052,2,0,מזרחי-רמת גן,2,21357,ראול ולנברג/הארד,13:30:12,NaN,True,32.11316,34.83961,0,0,2.200000,0.000000
2,212084,ב,212084b3,212084b,15052,2,0,מזרחי-רמת גן,3,21356,ראול ולנברג/הנחושת,13:32:00,13:32:00,False,32.11070,34.83790,2,2,2.200000,4.400000
3,212084,ב,212084b4,212084b,15052,2,0,מזרחי-רמת גן,4,21831,מטה מרחב ירקון/ראול ולנברג,13:32:45,NaN,True,32.10878,34.83581,0,2,2.200000,4.400000
4,212084,ב,212084b5,212084b,15052,2,0,מזרחי-רמת גן,5,26595,ראול ולנברג/הברזל,13:33:28,NaN,True,32.10713,34.83351,0,2,2.200000,4.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226106,412181,א,412181a28,412181a,35002,1,0,מזרחי-בני ברק,28,26566,אשל אברהם/הרב רבינוב,09:55:00,09:56:00,False,32.08273,34.84306,3,31,2.714286,84.142857
226107,412181,א,412181a29,412181a,35002,1,0,מזרחי-בני ברק,29,26569,"ביה""ח מעייני הישועה/הרב רבינוב",09:57:00,09:57:00,False,32.08477,34.84313,1,25,2.714286,67.857143
226108,412181,א,412181a30,412181a,35002,1,0,מזרחי-בני ברק,30,21372,כהנמן/פוברסקי,09:59:42,NaN,True,32.08500,34.84006,0,25,2.714286,67.857143
226109,412181,א,412181a31,412181a,35002,1,0,מזרחי-בני ברק,31,20075,אהרונוביץ/ רבי עקיבא,10:01:00,10:01:00,False,32.08686,34.83928,0,24,2.714286,65.142857
226110,412181,א,412181a32,412181a,35002,1,0,מזרחי-בני ברק,32,28588,אהרונוביץ/השלושה,10:01:00,10:02:00,False,32.08941,34.83879,0,0,2.714286,0.000000

In [26]:
train_bus[train_bus['trip_id'] == 310371]

,trip_id,part,trip_id_unique_station,trip_id_unique,line_id,direction,alternative,cluster,station_index,station_id,station_name,arrival_time,door_closing_time,arrival_is_estimated,latitude,longitude,passengers_up,passengers_continue,mekadem_nipuach_luz,passengers_continue_menupach
151757,310371,�,310371c1,310371c,15025,1,0,�����-�� ��,1,26682,���'���,11:35:00,11:36:00,False,32.117203,34.804115,0,0,3.375000,0.000000
151758,310371,�,310371c2,310371c,15025,1,0,�����-�� ��,2,20482,"���""� ������/�������",11:36:00,NaN,True,32.117386,34.805958,0,0,3.375000,0.000000
151759,310371,�,310371c3,310371c,15025,1,0,�����-�� ��,3,21734,���� �����/�������,11:37:00,11:37:00,False,32.115500,34.807243,1,1,3.375000,3.375000
151760,310371,�,310371c4,310371c,15025,1,0,�����-�� ��,4,20137,������ ��� ������/�������,11:37:40,NaN,True,32.113358,34.807420,0,1,3.375000,3.375000
151761,310371,�,310371c5,310371c,15025,1,0,�����-�� ��,5,25075,������� ������/�''� �'���' ����,11:38:49,NaN,True,32.109700,34.807020,0,1,3.375000,3.375000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190251,310371,�,310371b44,310371b,19095,1,#,����� ������ �����������+����� �����,44,33932,���� ���/���� ����,16:28:36,NaN,True,32.024560,34.809710,0,6,2.666667,16.000000
190252,310371,�,310371b45,310371b,19095,1,#,����� ������ �����������+����� �����,45,34653,���� ���/����,16:29:09,NaN,True,32.026050,34.807560,0,6,2.666667,16.000000
190253,310371,�,310371b46,310371b,19095,1,#,����� ������ �����������+����� �����,46,35199,��� ���/�������,16:30:00,16:30:00,False,32.028170,34.803860,0,2,2.666667,5.333333
190254,310371,�,310371b47,310371b,19095,1,#,����� ������ �����������+����� �����,47,39743,�������/������,16:31:00,16:31:00,False,32.028950,34.799930,0,0,2.666667,0.000000
190255,310371,�,310371b48,310371b,19095,1,#,����� ������ �����������+����� �����,48,35780,�����/����,16:33:00,16:33:00,False,32.030940,34.799290,0,0,2.666667,0.000000

In [21]:

x_passenger.columns

Index(['trip_id', 'part', 'trip_id_unique_station', 'trip_id_unique',
       'line_id', 'direction', 'alternative', 'cluster', 'station_index',
       'station_id', 'station_name', 'arrival_time', 'door_closing_time',
       'arrival_is_estimated', 'latitude', 'longitude', 'passengers_continue',
       'mekadem_nipuach_luz', 'passengers_continue_menupach'],
      dtype='object')

In [22]:
x_trip_duration.columns

Index(['trip_id', 'part', 'trip_id_unique_station', 'trip_id_unique',
       'line_id', 'direction', 'alternative', 'cluster', 'station_index',
       'station_id', 'station_name', 'arrival_time', 'door_closing_time',
       'arrival_is_estimated', 'latitude', 'longitude', 'passengers_up',
       'passengers_continue', 'mekadem_nipuach_luz',
       'passengers_continue_menupach'],
      dtype='object')

In [12]:
atrain_bus

,trip_id,part,trip_id_unique_station,trip_id_unique,line_id,direction,alternative,cluster,station_index,station_id,station_name,arrival_time,door_closing_time,arrival_is_estimated,latitude,longitude,passengers_up,passengers_continue,mekadem_nipuach_luz,passengers_continue_menupach
0,212084,�,212084b1,212084b,15052,2,0,�����-��� ��,1,26806,������,13:29:00,13:30:00,False,32.11423,34.84135,0,0,2.200000,0.000000
1,212084,�,212084b2,212084b,15052,2,0,�����-��� ��,2,21357,���� ������/����,13:30:12,NaN,True,32.11316,34.83961,0,0,2.200000,0.000000
2,212084,�,212084b3,212084b,15052,2,0,�����-��� ��,3,21356,���� ������/������,13:32:00,13:32:00,False,32.11070,34.83790,2,2,2.200000,4.400000
3,212084,�,212084b4,212084b,15052,2,0,�����-��� ��,4,21831,��� ���� �����/���� ������,13:32:45,NaN,True,32.10878,34.83581,0,2,2.200000,4.400000
4,212084,�,212084b5,212084b,15052,2,0,�����-��� ��,5,26595,���� ������/�����,13:33:28,NaN,True,32.10713,34.83351,0,2,2.200000,4.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226106,412181,�,412181a28,412181a,35002,1,0,�����-��� ���,28,26566,��� �����/��� ������,09:55:00,09:56:00,False,32.08273,34.84306,3,31,2.714286,84.142857
226107,412181,�,412181a29,412181a,35002,1,0,�����-��� ���,29,26569,"���""� ������ ������/��� ������",09:57:00,09:57:00,False,32.08477,34.84313,1,25,2.714286,67.857143
226108,412181,�,412181a30,412181a,35002,1,0,�����-��� ���,30,21372,�����/�������,09:59:42,NaN,True,32.08500,34.84006,0,25,2.714286,67.857143
226109,412181,�,412181a31,412181a,35002,1,0,�����-��� ���,31,20075,���������/ ��� �����,10:01:00,10:01:00,False,32.08686,34.83928,0,24,2.714286,65.142857
226110,412181,�,412181a32,412181a,35002,1,0,�����-��� ���,32,28588,���������/������,10:01:00,10:02:00,False,32.08941,34.83879,0,0,2.714286,0.000000

In [13]:
x_passenger

,trip_id,part,trip_id_unique_station,trip_id_unique,line_id,direction,alternative,cluster,station_index,station_id,station_name,arrival_time,door_closing_time,arrival_is_estimated,latitude,longitude,passengers_continue,mekadem_nipuach_luz,passengers_continue_menupach
0,211556,�,211556b1,211556b,18057,1,0,�����-��� ��,1,26313,�. ���� �����������/����,05:59:00,06:02:00,False,32.104860,34.803890,2,3.0,6.0
1,211556,�,211556b2,211556b,18057,1,0,�����-��� ��,2,26302,�. ���� �����������/��' ����,06:00:35,NaN,True,32.102780,34.806970,2,3.0,6.0
2,211556,�,211556b3,211556b,18057,1,0,�����-��� ��,3,21717,����� �� ����/��' ����,06:01:22,NaN,True,32.103830,34.809670,2,3.0,6.0
3,211556,�,211556b4,211556b,18057,1,0,�����-��� ��,4,21562,���� ����/��' ����,06:02:30,NaN,True,32.105510,34.812570,2,3.0,6.0
4,211556,�,211556b5,211556b,18057,1,0,�����-��� ��,5,26323,��� �����/���� �����,06:04:00,NaN,True,32.108520,34.815590,2,3.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48298,315108,�,315108c20,315108c,14256,2,0,����-����,20,36634,��� ��� �����/��� �����,23:35:32,NaN,True,32.061344,34.872692,0,2.0,0.0
48299,315108,�,315108c21,315108c,14256,2,0,����-����,21,31056,���� / �����,23:37:13,NaN,True,32.058765,34.869244,0,2.0,0.0
48300,315108,�,315108c22,315108c,14256,2,0,����-����,22,35328,�����/��� ������,23:37:43,NaN,True,32.057230,34.871964,0,2.0,0.0
48301,315108,�,315108c23,315108c,14256,2,0,����-����,23,36635,��� ��� �������/�����,23:37:42,NaN,True,32.057423,34.875153,0,2.0,0.0
48302,315108,�,315108c24,315108c,14256,2,0,����-����,24,36639,�����/�����,23:38:00,23:38:00,False,32.057472,34.877480,0,2.0,0.0

In [14]:
x_trip_duration

,trip_id,part,trip_id_unique_station,trip_id_unique,line_id,direction,alternative,cluster,station_index,station_id,station_name,arrival_time,door_closing_time,arrival_is_estimated,latitude,longitude,passengers_up,passengers_continue,mekadem_nipuach_luz,passengers_continue_menupach
0,110003,�,110003c1,110003c,19047,1,#,�����,1,39961,���� �����,13:31:00,13:31:00,False,32.175407,34.889940,1,1,2.400000,2.400000
1,110003,�,110003c2,110003c,19047,1,#,�����,2,37013,�����/��� ���� ����,NaN,NaN,True,32.177925,34.886745,0,1,2.400000,2.400000
2,110003,�,110003c3,110003c,19047,1,#,�����,3,37062,�����/������,NaN,NaN,True,32.178555,34.883884,0,1,2.400000,2.400000
3,110003,�,110003c4,110003c,19047,1,#,�����,4,37060,�����/������,NaN,NaN,True,32.179260,34.880640,0,1,2.400000,2.400000
4,110003,�,110003c5,110003c,19047,1,#,�����,5,37058,�����/����,NaN,NaN,False,32.179890,34.877758,2,3,2.400000,7.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48393,421866,�,421866a51,421866a,15042,2,0,�� ��-��� ��,51,26785,"����� ������/��""�",NaN,NaN,False,32.118660,34.836380,0,3,3.333333,10.000000
48394,421866,�,421866a52,421866a,15042,2,0,�� ��-��� ��,52,26798,��� ��/����� ������,NaN,NaN,False,32.117770,34.838250,0,1,3.333333,3.333333
48395,421866,�,421866a53,421866a,15042,2,0,�� ��-��� ��,53,26802,"��� ��/��""� ���",NaN,NaN,True,32.118460,34.839230,0,1,3.333333,3.333333
48396,421866,�,421866a54,421866a,15042,2,0,�� ��-��� ��,54,26790,����� ������/���� ������,NaN,NaN,False,32.115360,34.839420,0,0,3.333333,0.000000
48397,421866,�,421866a55,421866a,15042,2,0,�� ��-��� ��,55,26807,������,NaN,NaN,False,32.113360,34.842540,0,0,3.333333,0.000000